{% extends "base.html" %}
{% block title %}NFLP - Detalle Estadio{% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Propietario</th>
			<th>Superficie</th>	
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td>
				{{ estadio.nombre }}
			</td>
			<td>
				{{ estadio.propietario }}
			</td>
			<td>
				{{ estadio.superficie }}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}