{% extends "base.html" %}
{% block title %}NFLP - Detalle Jugador{% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Edad</th>
			<th>Posicion</th>
			<th>Equipo</th>			
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td>
				{{ jugador.nombre }}
			</td>
			<td>
				{{ jugador.edad }}
			</td>
			<td>
				{{ jugador.posicion }}
			</td>
			<td>
				{{ jugador.equipo }}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}