{% extends "base.html" %}
{% block title %}NFLP - Detalle Equipo{% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apodo</th>
			<th>Propietario</th>		
		</tr>		
	</thead>
	<tbody>
		<tr>
			<td>
				{{ equipo.nombre }}
			</td>
			<td>
				{{ equipo.apodo }}
			</td>
			<td>
				{{ equipo.propietario }}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}