{% extends "base.html" %}
{% block title %} NFLP - Jugadores {% endblock %}
{% block content %}
<form method="GET" action="/listaFiltrada">
	<select name="equipo">
		<option value="">
			-----------
		</option>
		{% for equipo in equipos %}
		<option value="{{ equipo.id }}">
			{{ equipo.nombre }}
		</option>
		{% endfor %}
	</select>
	<input type="text" name="posicion" placeholder="Buscar por posicion...">
	<button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Equipo</th>
			<th>Detalles</th>
		</tr>
	</thead>
	<tbody>
		{% for jugador in lista %}
		<tr>
			<td>{{ jugador.nombre }}</td>
			<td>{{ jugador.equipo }}</td>
			<td><a href="{% url 'detallesJugador_view' jugador.id %}">Detalles</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}