{% extends "base.html" %}
{% block title %} NFLP - Equipos {% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Superficie</th>
			<th>Detalles</th>
		</tr>
	</thead>
	<tbody>
		{% for equipo in lista %}
		<tr>
			<td>{{ equipo.nombre }}</td>
			<td>{{ equipo.apodo }}</td>
			<td><a href="{% url 'detallesEquipo_view' equipo.id %}">Detalles</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}