{% extends "base.html" %}
{% block title %} NFLP - Estadios {% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Equipo</th>
			<th>Detalles</th>
		</tr>
	</thead>
	<tbody>
		{% for estadio in lista %}
		<tr>
			<td>{{ estadio.nombre }}</td>
			<td>{{ estadio.superficie }}</td>
			<td><a href="{% url 'detallesEstadio_view' estadio.id %}">Detalles</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}