{% extends "base.html" %}

{% block title %} NFLP {% endblock %}

{% block content %}
<button class="btn btn-primary">Jugadores</button>
<button class="btn btn-primary">Equipos</button>
<button class="btn btn-primary">Estadios</button>
{% endblock %}