{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<title>{% block title %}{% endblock %}</title>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar navbar-light bg-light">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a href="{% url 'listaJugadores_view' %}" class="nav-link">Jugadores</a></li>
				<li class="nav-item"><a href="{% url 'listaEquipos_view' %}" class="nav-link">Equipos</a></li>
				<li class="nav-item"><a href="{% url 'listaEstadios_view' %}" class="nav-link">Estadios</a></li>
			</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
</body>
</html>